TELEGRAM_TOKEN=
QUOTE_CHANNEL_ID=
ADMINS=
UPDATER=polling
WEBHOOK_URL=
LOGGING_CHANNEL_ID=

OPENROUTER_API_KEY=
WAQI_API_KEY=
GIPHY_API_KEY=
GOODREADS_API_KEY=
WOLFRAM_APP_ID=
COBALT_URL=
NANO_GPT_API_KEY=
