version: "3"
services:
  ssgbot:
    # image: ghcr.io/obviyus/superseriousbot:latest
    build: .
    volumes:
      - ./db/:/db/
      - ./src:/code/src
      - ./vis/:/code/vis/
    env_file:
      - ssgbot.env
    restart: unless-stopped
