Babel==2.8.0
dateparser==0.7.6
emoji==0.6.0
flake8==3.8.3
geopy==2.0.0
googletrans==3.0.0
gtts==2.2.1
howlongtobeatpy==0.1.12
pillow==7.2.0
pre-commit==2.7.1
python-telegram-bot==12.8
pyyaml==5.3.1
requests==2.25.0
urllib3==1.25.10
wolframalpha==4.0.0
mysql-connector-python~=8.0.22
cloudmersive_image_api_client==3.0.1
